<div class="layui-container">
        <form class="layui-form" action="">
            <div class="layui-row layui-col-space8">
                <div class="layui-col-md6">
                    <div class="layui-form-item layui-form-text">
                        <pre>
                        <textarea placeholder="输入公钥内容" name="public_key" class="layui-textarea" lay-verify="required" lay-verType="tips" style="height:350px;"></textarea>
                        </pre>
                    </div>
                </div>
                <div class="layui-col-md6">
                    <div class="layui-form-item layui-form-text">
                        <pre>
                        <textarea placeholder="输入私钥内容" name="private_key" class="layui-textarea" lay-verify="required" lay-verType="tips" style="height:350px;"></textarea>
                        </pre>
                    </div> 
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-form-item" id="key">
                    <input type="password" name="key" autocomplete="off" placeholder="KEY密码，若私钥未加密无需填写" class="layui-input">
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-form-item" style="text-align:center;">
                    <button class="layui-btn" lay-submit="" lay-filter="pub_priv_check">匹配校验</button>
                </div> 
            </div>
        </form>
    </div>
    
    <style type="text/css">
        .hidden_key{
            display: none;
        }
    </style>
    <!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
    <script>
            layui.use('form', function(){
              var form = layui.form,
              $=layui.jquery;
              
              //监听提交
              form.on('submit(pub_priv_check)', function(data){
                var form_value=data.field;
                $.ajax({
                    type:"POST",
                    url:"/feis/pub_priv_hander",
                    data:data.field,
                    dataType: "html",
                    success: function(data){
                        //页面层
                        layer.open({
                            type: 1,
                            title:'结果',
                            area: ['70%','80%'], //宽高
                            content: data,
                            cancel: function(index, layero){
                                //关闭所有弹出层
                                layer.closeAll();
                                return false;
                              }
                        });
                    }
                });
                return false;
              });
              //初始化
            });
    </script>
