<style type="text/css">
    ul.jianjie li{
        list-style-type:disc;
        padding-top:10px;
    }
    a.tuoguan{
        width:200px;
        height:80px;
        line-height:80px;
        font-size:20px;
        background-color: #fff;
        color: #00c1de;     
    }
    a.tuoguan:hover{
        border-color: #00c1de;
        color: #00c1de;
    }
    .layui-timeline-axis {
	position: absolute;
	left: -5px;
	top: 0;
	z-index: 10;
	width: 20px;
	height: 20px;
	line-height: 20px;
	background-color: #fff;
	color: #00c1de;
	border-radius: 50%;
	text-align: center;
	cursor: pointer;
}
.layui-timeline-axis:hover {
	color: #00c1de;
}
.layui-bg-green {
	background-color: #00c1de !important;
}
</style>
<div class="layui-container">
        <div class="layui-row layui-col-space10" >
            <div class="layui-col-md1"></div>
            <div class="layui-col-md10">
                <div class="layui-row" style="margin-top:20px;">
                    <h2 style="text-align:center;color:#666;">OpenSSL管理平台</h2>
                </div>
                <div class="layui-row" style="margin-top:20px;">
                    <div class="layui-col-md4">
                        <fieldset class="layui-elem-field layui-field-title">
                            <legend style="color:#00c1de;">简介</legend>
                        </fieldset>
                    </div>
                    <div class="layui-col-md8"></div>
                </div>
                <div class="layui-row">
                    <div style="padding-left:20px;color:#393D49">
                        OpenSSL管理平台为OpenSSL操作提供可视化的界面，方便快捷地完成对称算法、哈希校验、非对称算法、证书管理、SSL安全等操作。
                    </div>
                    <div style="padding-left:20px;color:#393D49;padding-top:5px;"><b>功能模块：</b></div>
                    <div style="padding-left:60px;color:#393D49">
                        <ul class="jianjie">
                            <li>
                                对称算法：AES、DES、Triple DES。
                            </li>
                            <li>
                                哈希校验：MD2、MD4、MD5、SHA1、SHA224、SHA256、SHA384、SHA512、RIPEMD、RIPEMD160、HMAC。
                            </li>
                            <li>
                                非对称算法：公私钥的加解密、公钥的解析提取、公私钥对的生成以及加密私钥的密码修改等。
                            </li>
                            <li>
                                证书工具：证书查看、CSR查看、CSR生成、私钥校验、证书格式转换、自签名证书生成。
                            </li>
                            <li>
                                SSL检测：握手过程探测、协议/加密套件、SSL常见漏洞扫描、SSL健康检查等。
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="layui-row" style="margin-top:20px;">
                    <div class="layui-col-md4">
                        <fieldset class="layui-elem-field layui-field-title">
                            <legend style="color:#00c1de;">托管</legend>
                        </fieldset>
                    </div>
                    <div class="layui-col-md8"></div>
                </div>
                <div class="layui-row">
                    <div style="padding-left:20px;color:#393D49;text-align:center;">
                        <a class="layui-btn layui-btn-primary tuoguan" href="http://www.wossl.org:808" target="_blank" style="color:#393D49;"><i class="layui-icon" style="font-size:50px;">&#xe68e;</i>官网</a>
                        <a class="layui-btn layui-btn-primary tuoguan" href="https://gitee.com/wossl33/wossl" target="_blank" style="color:#393D49;"><i class="layui-icon" style="font-size:50px;">&#xe681;</i>码云</a>
                        <a class="layui-btn layui-btn-primary tuoguan" href="https://github.com/wossl33/wossl" target='_blank' style="color:#393D49;"><i class="layui-icon" style="font-size:50px;">&#xe67c;</i><i>Github</i></a>
                    </div>
                </div>
                <div class="layui-row" style="margin-top:20px;">
                    <div class="layui-col-md4">
                        <fieldset class="layui-elem-field layui-field-title">
                            <legend style="color:#00c1de;">更新日志</legend>
                        </fieldset>
                    </div>
                    <div class="layui-col-md8"></div>
                </div>
                <div class="layui-row" style="margin-top:10px;">
                    <ul class="layui-timeline" style="padding-left:20px;">
                        <li class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                            <div class="layui-timeline-content layui-text">
                                <h3 class="layui-timeline-title">
                                    1.1.3
                                    <span class="layui-badge-rim">2018-02-02</span>
                                    <span class="layui-badge-rim">未上线</span>
                                  </h3>
                                    <ul>
                                      <li>
                                        实现证书格式转换功能，转换方式包括PEM转JKS、PEM转PCKS12，及反向格式转换等。
                                      </li>
                                    </ul>
                            </div>
                        </li>
                        <li class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                            <div class="layui-timeline-content layui-text">
                                <h3 class="layui-timeline-title">
                                  1.1.2
                                  <span class="layui-badge-rim">2018-01-05</span>
                                  <span class="layui-badge layui-bg-green">已上线</span>
                                </h3>
                                  <ul>
                                    <li>
                                      实现证书管理工具模块中自签名证书，支持生成根证书。
                                    </li>
                                  </ul>
                            </div>
                          </li>
                        <li class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                            <div class="layui-timeline-content layui-text">
                                <h3 class="layui-timeline-title">
                                  1.1.2
                                  <span class="layui-badge-rim">2018-01-03</span>
                                  <span class="layui-badge layui-bg-green">已上线</span>
                                </h3>
                                  <ul>
                                    <li>
                                      实现非对称算法模块中公私钥校验、密码对生成、私钥密码修改。
                                    </li>
                                  </ul>
                            </div>
                          </li>
                        <li class="layui-timeline-item">
                          <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                          <div class="layui-timeline-content layui-text">
                              <h3 class="layui-timeline-title">
                                1.1.2
                                <span class="layui-badge-rim">2018-01-02</span>
                                <span class="layui-badge layui-bg-green">已上线</span>
                              </h3>
                                <ul>
                                  <li>
                                    实现非对称算法模块中公钥的提取、公钥解析。
                                  </li>
                                  <li>
                                    修复AES、DES和3DES对称算法中CTR模式BUG。
                                  </li>
                                </ul>
                          </div>
                        </li>
                        <li class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                            <div class="layui-timeline-content layui-text">
                                <h3 class="layui-timeline-title">
                                  1.1.1
                                  <span class="layui-badge-rim">2017-12-22</span>
                                  <span class="layui-badge layui-bg-green">已上线</span>
                                </h3>
                                  <ul>
                                    <li>
                                      实现AES、DES、Triple DES加解密。
                                    </li>
                                    <li>
                                      实现MD5、SHA1、SHA256、SHA512等Hash计算。
                                    </li>
                                  </ul>
                            </div>
                          </li>
                            <li class="layui-timeline-item">
                              <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                              <div class="layui-timeline-content layui-text">
                                  <h3 class="layui-timeline-title">
                                    1.1.0
                                    <span class="layui-badge-rim">2017-12-15</span>
                                    <span class="layui-badge layui-bg-green">已上线</span>
                                  </h3>
                                    <ul>
                                      <li>
                                        实现pem格式CSR的结构查看功能，可导出public_key明文。
                                      </li>
                                      <li>
                                        实现pem格式CSR生成功能，可根据RSA、DSA、ECDSA等不同的加密算法，以及加密强度和签名算法，生成CSR和私钥对。
                                      </li>
                                      <li>
                                        实现pem格式证书的结构查看功能，可导出public_key明文。
                                      </li>
                                      <li>
                                        实现公私钥校验功能，可校验证书与私钥、证书与CSR以及CSR与私钥之间的匹配关系。
                                      </li>
                                      <li>
                                        实现私钥的加解密功能，对私钥进行加密，对加密后私钥进行解密。
                                      </li>
                                    </ul>
                              </div>
                            </li>
                          </ul>
                        </div>
                    <div class="layui-row" style="margin-top:20px;">
                            <div class="layui-col-md4">
                                <fieldset class="layui-elem-field layui-field-title">
                                    <legend style="color:#00c1de;">赞助</legend>
                                </fieldset>
                            </div>
                            <div class="layui-col-md8"></div>
                        </div>
                        <div class="layui-row">
                            <div class="layui-col-md6" style="text-align:center;">
                                <div style="text-align:center;color:#393D49">支付宝</div>
                                <img src="../static/images/pay/alibaba.png" />
                            </div>
                            <div class="layui-col-md6" style="text-align:center;">
                                <div style="text-align:center;color:#393D49">微信</div>
                                <img src="../static/images/pay/weixin.png" /> 
                            </div>
                        </div>
            </div>
            <div class="layui-col-md1"></div>
        </div> 
</div>